
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <%=image_tag("profile.png", :class => "img-responsive") %>
                    <div class="intro-text">
                        <h1 class="name">Start Bootstrap</h1>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- theme Grid Section -->
    <section id="theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sample Themes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal1" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/cabin.png", :class => "img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal2" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/cake.png", :class => "img-responsive", :alt => "Slice of Cake") %>
                    </a>
                </div>
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal3" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/circus.png", :class => "img-responsive", :alt => "Circus Tent") %>
                    </a>
                </div>
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal4" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/game.png", :class => "img-responsive", :alt => "Game Controller") %>
                    </a>
                </div>
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal5" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/safe.png", :class => "img-responsive", :alt => "Safe") %>
                    </a>
                </div>
                <div class="col-sm-4 theme-item">
                    <a href="#themeModal6" class="theme-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag("theme/submarine.png", :class => "img-responsive", :alt => "Submarine") %>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <div id="error_explanation">
                    
                    <% if flash.any? %>
                    <% flash.each do |type, message| %>
                    <div class="alert flash-alert alert-<%= type %> alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                
                                        <%= message %>
                                       
                       </div>             
                                 
                                 
                                 
                    <% end %>
                    <% end %>
                    <%= form_for @contact, url: contact_path(:anchor => "contact") do |f| %>
                    <!-- because flash shouldn't be empty nothing should show up-->
                    
                
                    <% if @contact.errors.any? %>
                        
                            <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <% @contact.errors.full_messages.each do |msg| %>
                                    <ul>
                                        <li> <%= msg %></li>
                                       
                                    </ul>   
                                <%end%>   
                            </div>
                        </div> 
                        
                    <% end %> 
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :name, 'Name' %>
                                <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :email, 'E-mail' %>
                                <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <%= f.label :message, 'Message' %>
                              <%= f.text_area :message, class: 'form-control', rows:"4", placeholder: 'Message' %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                              <%= f.submit "Send", class: "btn btn-success btn-lg" %>
                              <% end %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Made With</h3>
                        <div class="devicons">
                            
                                <i class="devicon-ruby-plain"></i><span class="sr-only">Ruby</span>
                            
                                <i class="devicon-rails-plain"></i><span class="sr-only">Rails</span>
                            
                                <i class="devicon-bootstrap-plain"></i><span class="sr-only">Bootstrap</span>
                            
                                <i class="devicon-css3-plain"></i><span class="sr-only">CSS3</span>
                            
                                <i class="devicon-javascript-plain"></i><span class="sr-only">Javascript</span>
                            
                        </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm-up">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>



