<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-toggleable-sm fixed-top justify-content-center" id="mainNav">
    <div class="page-scroll">
    <button class="navbar-toggler collapsed navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    </button>
    <a href="#page-top" class="navbar-brand navbar-header w-50 mr-auto">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
           <li class="hidden">
               <a href="#page-top"></a>
           </li>
            <li class="page-scroll">
                <a class="nav-link" href="#theme">Themes</a>
            </li>
            <li class="page-scroll">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="page-scroll">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    

    <!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display 
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling 
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>-->
            
            <!-- /.navbar-collapse -->

    
        <!-- /.container-fluid -->
    </nav>